section.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: sans-serif;
  > a.head {
    font-size: 1.25rem;
    cursor: pointer;
    padding-right: 30px;
    padding-left: 30px;
  }
  >img{
    cursor: pointer;
    padding-left:150px;
    padding-right:150px;
  }
}
